# INTRODUCTION PYTHON

In [2]:
print("Hello World!")

Hello World!

In [3]:
x = 10
x

10

### VARIABLE

In [4]:
people = 100 #integer
people

100

In [5]:
temperature = 36.0 #float
temperature

36.0

In [6]:
room_name = "Room 1" #string
room_name

'Room 1'

### LIST

In [7]:
matrix = [[1,2,3],[4,5,6]]
matrix[0][0]

matrix2 = list(matrix)
matrix2[0][0] =  3
matrix2

[[3, 2, 3], [4, 5, 6]]

In [8]:
fruits = []
fruits = ["apple","banana"] # list with 2 elements
fruits

['apple', 'banana']

In [9]:
example_list = ["this is string",10] # list with different types of elements
example_list

['this is string', 10]

In [10]:
# add element to a list
fruits = ["apple","banana","durian"]
fruits.append("orange")
fruits

['apple', 'banana', 'durian', 'orange']

In [11]:
# accessing list elements
fruits[3:]

['orange']

In [12]:
fruits[-1]

'orange'

### DICTIONARY

In [13]:
customer = {} #empty dictioanry
customer = {"name": "John", "age": 30}
customer

{'name': 'John', 'age': 30}

In [14]:
# add new key, value to dictionary
customer = {"name":"John","age":30}
customer["email"] = "john@example.com"
customer

{'name': 'John', 'age': 30, 'email': 'john@example.com'}

In [15]:
customer["email"]

'john@example.com'

In [16]:
customer.keys()

dict_keys(['name', 'age', 'email'])

### TUPLE

In [17]:
# tuple is similar to list but immutable once created
coordinate = (0, 5)
coordinate

(0, 5)

In [18]:
colors = ("red","gree","blue")
colors

('red', 'gree', 'blue')

### SET

#### function unique_numbers akan menghasilkan output yan

In [19]:
unique_numbers = {1,2,3,3}
unique_numbers = set([1,2,3,4])
unique_numbers

{1, 2, 3, 4}

In [20]:
unique_numbers.add(2)
unique_numbers.add(3)

### Concat String with Number

In [21]:
text = str(people) + " people"
text

'100 people'

In [22]:
"There are %i people" % people

'There are 100 people'

In [23]:
"There are " + str(people) + " people"

'There are 100 people'

## Concat String

In [24]:
text = "Room: " + room_name
text

'Room: Room 1'

#### string function dibawah ini sangat bermanfaat jika kita ingin membuat file csv

In [25]:
" ".join(["There are", str(people), "people in", room_name])

'There are 100 people in Room 1'

# Basic Mathematical Operations

In [26]:
20 + 2

22

In [27]:
3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6

6.75

In [28]:
10 / 3

3.3333333333333335

In [29]:
10.0 / 3
round(10.0 / 3, 3)

3.333

In [30]:
10 % 3

1

# Function

In [31]:
# function with no return satement
def print_hello_world():
    print("Hello World!")
print_hello_world()

Hello World!

In [32]:
# function with return statement
def is_even(number):
    return number % 2 == 0

In [33]:
is_even(3)

False

# IF Statement

In [34]:
number = 99
def guess_number(guess):
    if guess < number:
        print("Wrong guess! try with larger number")
    elif is_even(number):
        print("even")
    elif guess > number:
        print("Wrong guess! try with smaller number")
    else:
        print("Correct! Congratulations!")
    print(1)

In [35]:
guess_number(5)
guess_number(100)
guess_number(99)

Wrong guess! try with larger number
1
Wrong guess! try with smaller number
1
Correct! Congratulations!
1

# Looping

#### Fungsi range akan menghasilkan range angka sesuai yang dialokasikan

In [36]:
range(1, 10)

range(1, 10)

In [37]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
# Looping in range (a, b), b is excluded
# Looping 5 kali sampai -3 dengan selisih -2
# semacam Loop downto
for i in range(5,-4,-2):
    print(i)

5
3
1
-1
-3

In [39]:
# Looping over list
fruits = ["apple","banana","orange"]
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [40]:
# print all element in a list
# with function enumerate to get the index of each element
print("The fruits are:")
for i, fruit in enumerate(fruits):
    print(i,fruit)

The fruits are:
0 apple
1 banana
2 orange

In [41]:
numbers = [] # create empty list

# Loop from 0 to 9
# add number to the list if the number is even
for i in range(10):
    if is_even(i):
        numbers.append(i)
numbers

[0, 2, 4, 6, 8]

In [42]:
# while loop

i = 2
numbers = []
while i < 10:
    print(i)
    numbers.append(i)
    i = i + 1

2
3
4
5
6
7
8
9

# Class and Object

In [43]:
# declaring class
class Person:
    
# __init__ is default initialization method for class
# this is usually used to initialize attributes
    def __init__(self):
        self.name = "John"
        self.age = 30
        
person = Person()
print("Person name: %s" % person.name)
print("Person age: %s" % person.age)

Person name: John
Person age: 30

In [44]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def get_name(self):
        return self.name
    def edit_age(self, new_age):
        self.age = new_age
person1 = Person("agung","20")
person2 = Person("rashif","21")
person3 = Person("madani","22")

person3.get_name()

'madani'